[default]
ListenIP: 127.0.0.1
ListenPort: 8080
Net = tcp
IpPort: %(ListenIP)s:%(ListenPort)s
GoMaxNumber: 1000000
MaxConnCnt: 100000
HostName = noaway


[login_server]
ListenIP1: 182.50.113.154
ListenPort1: 8100
Net: tcp
IpPort1: %(ListenIP1)s:%(ListenPort1)s
ListenIP2: 182.50.113.154
ListenPort2: 8100
IpPort2: %(ListenIP2)s:%(ListenPort2)s



[route_server]
ListenIP1: 182.50.113.154
ListenPort1: 8200
Net: tcp
IpPort1: %(ListenIP1)s:%(ListenPort1)s



[db_proxy_server]
ListenIP1: 182.50.113.154
ListenPort1: 10600
Net: tcp
IpPort1: %(ListenIP1)s:%(ListenPort1)s
ConcurrentDBConnCnt = 2

[push_server]
ListenIP1: 182.50.113.154
ListenPort1: 8500
Net: tcp
IpPort1: %(ListenIP1)s:%(ListenPort1)s

